@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

.radio {
  &:checked, &[aria-checked="true"] {
      background-color: #f6bc58;
      border: none;
    }
  }